* {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    padding: 50px;
    width: 500px;
    margin: auto;
    height: auto;
}

.container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    align-items: center;
    width: 370px;
    margin: auto;
    background-color: #63bda4;
    border-radius: 20px;
    height: auto;
}

.grid-item {
    background-color: transparent;
    padding: 5px;
}

.grid-item button {
    color: black;
    padding: 20px;
    border: none;
    width: 100%;
    border-radius: 40px;
    font-size: 30px;
    background-color: #d9ffea;    
    position: relative; 
    overflow: hidden; 
}

.grid-item button:hover {
    background-color:	#63bda4;
    color: white;
}

.grid-item button:active {
    transform: scale(0.8);
}

#zero-grid {
    grid-column: span 2;
}

.input-display {
    grid-column: span 4;
    background-color: #d9ffea;
    border-radius: 25px;
    text-align: right;
    margin-bottom: 10px; 
    margin-top: 18px;
    font-size: 40px;
    color: black;
    padding-right: 15px;
    padding-top: 30px; 
    padding-bottom: 40px;
}
